.footer {
  padding: 24px 0 24px;
  background-color: var(--bg-color-main);
  color: #959494;
  font-size: 13px;
  line-height: 24px;
  border-top: 1px solid #434343;
}

.footer__content {
  margin: 0;
  padding: 0;
}

@media(min-width: $desktop-width) {
  .footer {
    padding: 32px 0;
  }
  
  .footer__content {
     width: 676px;
     font-size: 16px;
     line-height: 28px;
  }
}